
    <div class="body d-flex flex-colum bg-dark flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
        <a href="/" class="text-white mr-md-auto font-weight-nomal">To Do site</a>   
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="/about">About</a>   
            <a class="p-2 text-white" href="/company">Company</a>   
            <a class="p-2 text-white dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Contact</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Email</a>
                    <a class="dropdown-item" href="#">Phone</a>
                    <a Class="dropdown-item" href="#">Other</a>
                </div>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign In</a>
    </div>