<div class="container">
    <div class="row">
        <div class="col-sm border rounded">
            <h2>This is one section</h2>
            <p class="blockquote">The Chicago Bears are a professional American football team based in Chicago, Illinois. The Bears compete in the National Football League (NFL) as a member club of the league's National Football Conference (NFC) North division. The Bears have won nine NFL Championships, including one Super Bowl, and hold the NFL record for the most enshrinees in the Pro Football Hall of Fame and the most retired jersey numbers. The Bears have also recorded more victories than any other NFL franchise</p>
        </div>
        <div class="col-sm border rounded">
            <h2>This is also another section</h2>
            <p class="blockquote">Jay Christopher Cutler (born April 29, 1983) is a former American football quarterback who played in the National Football League for 12 seasons, primarily with the Chicago Bears. He played college football at Vanderbilt and was drafted by the Denver Broncos in the first round of the 2006 NFL Draft, for whom he played for three seasons. In 2009, he was traded to the Bears, where he played for eight seasons. After being released by Chicago in 2017, Cutler initially retired to become a sportscaster for NFL on Fox's television broadcasts, but returned for one more season with the Miami Dolphins when quarterback Ryan Tannehill suffered a season-ending injury. He retired a second time following the 2017 season.</p>
            
        </div>
    </div>
</div>