<div class="container">
    <div class="align-items-center">
        <h1 class="display-1">Todo app</h1>

            <div class="d-flex p-3 form-group align-items-center">
                <input type="todo" class="form-control form-control-lg" placeholder="What needs to be done?"></imput>
            </div>
    </div>
</div>