<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
    <div class="d-flex flex-colum flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-nomal">To Do site</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Company</a>
            <a class="p-2 text-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Contact</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Email</a>
                    <a class="dropdown-item" href="#">Phone</a>
                    <a Class="dropdown-item" href="#">Other</a>
                </div>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign In</a>
    </div>